@charset "utf-8";
body {
	background-image: url(arkaplan1.jpg);
	background-repeat: repeat;
	text-align: center;
	padding-left: 150px;
}
#diger {
	background-color: #DBDBDB;
	height: auto;
	width: 980px;
	margin-top: 40px;
	margin-left: 20px;
	float: left;
	text-align: center;
}
#resim {
	height: 160px;
	width: 200px;
	float: left;
}
#clear-resim {
	clear: both;
}
#clear-diger {
	clear: both;
}
#yeni {
	background-color: #DBDBDB;
	height: 160px;
	width: 980px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	text-align: center;
}
#resm {
	float: left;
	height: 160px;
	width: 200px;
}
#clear-yeni {
	clear: both;
}
#new {
	background-color: #CBCBCB;
	height: 160px;
	width: 980px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}
#img {
	float: left;
	height: 160px;
	width: 200px;
}
#img {
	float: left;
	height: 160px;
	width: 200px;
}
#img {
	float: left;
	height: 160px;
	width: 200px;
}
#clear-img {
	clear: both;
}
#clear-new {
	clear: both;
}
#kutu {
	background-color: #CBCBCB;
	height: 160px;
	width: 980px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}
#re {
	height: 160px;
	width: 200px;
	float: left;
}
#clear-kutu {
	clear: both;
}
#box {
	background-color: #CBCBCB;
	height: 160px;
	width: 980px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}
#bowre {
	float: left;
	height: 160px;
	width: 200px;
}
#clear-box {
	clear: both;
}
#sabret {
	background-color: #CBCBCB;
	height: 160px;
	width: 980px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}
#sabretresim {
	float: left;
	height: 160px;
	width: 200px;
}
#clear-sabret {
	clear: both;
}
#bitir {
	background-color: #CBCBCB;
	height: 100px;
	width: 980px;
	margin-top: 20px;
	margin-left: 20px;
	line-height: 80px;
	text-align: center;
}
#clear-bitir {
	clear: both;
}
#yorum {
	background-color: #CBCBCB;
	height: auto;
	width: 980px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
}
#isim {
	float: left;
	height: 10px;
	width: 50px;
	background-color: #A3A0A0;
}
#isim {
	background-color: #9B9999;
	float: left;
	height: 50px;
	width: 100px;
	margin-top: 50px;
}
#isim {
	height: 30px;
	width: 200px;
	margin-top: 50px;
	text-align: center;
	line-height: 30px;
	float: left;
}
#isim {
	line-height: 30px;
	background-color: #A29F9F;
	text-align: center;
	height: 30px;
	width: 200px;
}
#isim {
	line-height: 30px;
	background-color: #9B9999;
	text-align: center;
	height: 30px;
	width: 200px;
}
#isim {
	line-height: 30px;
	background-color: #878484;
	text-align: center;
	height: 30px;
	width: 160px;
}
#ba {
	background-color: #CBCBCB;
	height: 30px;
	width: 100px;
	text-align: center;
	line-height: 50px;
}
#clear-ba {
	clear: both;
}
#clear-ba {
	clear: both;
}
#isim {
	background-color: #7F7E7E;
	text-align: center;
	float: left;
	height: 15px;
	width: 160px;
	line-height: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#clear-isim {
	clear: both;
}
#clear-isim {
	clear: both;
}
#posta {
	background-color: #878484;
	height: 30px;
	width: 160px;
	float: left;
	line-height: 30px;
	text-align: center;
}
