@charset "utf-8";
body {
	background-image: url(music.png);
	background-repeat: repeat;
}
body {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}
#bas {
	font-size: 24px;
	line-height: 100px;
	font-weight: bold;
	color: #AFADAD;
	background-color: #3E3D3D;
	text-align: center;
	height: 100px;
	width: 850px;
	margin-top: 20px;
}
#bas {
	margin-left: 40px;
}
#bas {
	margin-right: 10px;
}
#icerik {
	font-size: 18px;
	font-weight: bold;
	color: #AFADAD;
	background-color: #3E3D3D;
	text-align: center;
	height: auto;
	width: 850px;
	margin-top: 10px;
	margin-left: 40px;
}
